@font-face {
    font-family: 'Highgate';
    font-weight: 700;
    src: url('../assets/Highgate_Trial_Bd.ttf');
}
@font-face {
    font-family: 'Highgate';
    font-weight: 900;
    src: url('../assets/Highgate_Trial_XBd.ttf');
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.test{
    font-family: 'Highgate';
}